{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "VoX train experiment",
    "description": "No description provided for this web service.",
    "x-endpoint-name": "ust-train",
    "x-endpoint-description": "UST data sets"
  },
  "host": "ussouthcentral.services.azureml.net:443",
  "basePath": "/workspaces/333533ce0e6e44b38365410aec94d7f2/services/a0cba3efb20040e195abc08c1fb08e6b",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/swagger.json": {
      "get": {
        "summary": "Get swagger API document for the web service",
        "operationId": "getSwaggerDocument",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "API version",
            "required": false,
            "type": "string",
            "default": "2.0",
            "enum": [
              "2.0"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Swagger API document for this service"
          }
        }
      }
    },
    "/execute?api-version=2.0&format=swagger": {
      "post": {
        "summary": "Execute the web service and get a response synchronously",
        "operationId": "execute",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Execution request",
            "schema": {
              "$ref": "#/definitions/ExecutionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution results",
            "schema": {
              "$ref": "#/definitions/ExecutionResults"
            }
          }
        },
        "security": [
          {
            "api_key": [ ]
          }
        ]
      }
    },
    "/jobs?api-version=2.0": {
      "post": {
        "summary": "Submit an asynchronous job to execute the web service",
        "operationId": "submitjob",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Batch execution request",
            "schema": {
              "$ref": "#/definitions/BatchExecutionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ID of submitted job",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "api_key": [ ]
          }
        ]
      }
    },
    "/jobs/{jobId}?api-version=2.0": {
      "get": {
        "summary": "Get the status for a give job",
        "operationId": "getjobstatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "job status",
            "schema": {
              "$ref": "#/definitions/BatchExecutionStatus"
            }
          }
        },
        "security": [
          {
            "api_key": [ ]
          }
        ]
      },
      "delete": {
        "summary": "Cancel a job",
        "operationId": "canceljob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The job is successfully cancelled"
          }
        },
        "security": [
          {
            "api_key": [ ]
          }
        ]
      }
    },
    "/jobs/{jobId}/start?api-version=2.0": {
      "post": {
        "summary": "Start running a job",
        "operationId": "startjob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The job is successfully started"
          }
        },
        "security": [
          {
            "api_key": [ ]
          }
        ]
      }
    }
  },
  "definitions": {
    "ExecutionRequest": {
      "title": "Execution request",
      "properties": {
        "Inputs": {
          "$ref": "#/definitions/ExecutionInputs"
        },
        "GlobalParameters": {
          "$ref": "#/definitions/GlobalParameters"
        }
      },
      "example": {
        "Inputs": { },
        "GlobalParameters": {
          "Total workers": 1,
          "Worker ID": 1,
          "Training path": "",
          "Scan proportion": 1.0,
          "Minimum F1": 1.0
        }
      }
    },
    "ExecutionResults": {
      "title": "Execution Results",
      "properties": {
        "Results": {
          "$ref": "#/definitions/ExecutionOutputs"
        }
      }
    },
    "BatchExecutionRequest": {
      "title": "Batch execution request",
      "properties": {
        "GlobalParameters": {
          "$ref": "#/definitions/GlobalParameters"
        },
        "Inputs": {
          "$ref": "#/definitions/BatchInputs"
        },
        "Outputs": {
          "$ref": "#/definitions/BatchOutputs"
        }
      }
    },
    "AzureBlobDataReference": {
      "title": "Azure blob data reference",
      "properties": {
        "BaseLocation": {
          "type": "string"
        },
        "ConnectionString": {
          "type": "string"
        },
        "RelativeLocation": {
          "type": "string"
        },
        "SasBlobToken": {
          "type": "string"
        }
      }
    },
    "BatchExecutionStatus": {
      "title": "Batch execution status",
      "properties": {
        "StatusCode": {
          "description": "job status code",
          "type": "string",
          "default": "NotStarted",
          "enum": [
            "NotStarted",
            "Running",
            "Failed",
            "Cancelled",
            "Finished"
          ]
        },
        "Results": {
          "type": "object"
        },
        "Details": {
          "type": "string"
        }
      }
    },
    "GlobalParameters": {
      "title": "Global parameters definition",
      "properties": {
        "Total workers": {
          "description": "",
          "type": "integer",
          "format": "int32",
          "maximum": 100.0,
          "minimum": 1.0
        },
        "Worker ID": {
          "description": "",
          "type": "integer",
          "format": "int32",
          "maximum": 100.0,
          "minimum": -1.0
        },
        "Training path": {
          "description": "",
          "type": "string",
          "default": ""
        },
        "Scan proportion": {
          "description": "",
          "type": "number",
          "format": "double",
          "maximum": 1.0,
          "minimum": 0.001
        },
        "Minimum F1": {
          "description": "",
          "type": "number",
          "format": "double",
          "maximum": 0.999,
          "minimum": 0.0
        }
      },
      "type": "object"
    },
    "ExecutionInputs": {
      "title": "Execution inputs defintion",
      "type": "object"
    },
    "ExecutionOutputs": {
      "title": "Execution outputs defintion",
      "properties": {
        "performance": {
          "items": {
            "$ref": "#/definitions/performanceItem"
          },
          "type": "array"
        },
        "trained": {
          "items": {
            "$ref": "#/definitions/trainedItem"
          },
          "type": "array"
        },
        "setup": {
          "items": {
            "$ref": "#/definitions/setupItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchInputs": {
      "title": "Batch inputs defintion",
      "type": "object"
    },
    "BatchOutputs": {
      "title": "Batch outputs defintion",
      "properties": {
        "model": {
          "$ref": "#/definitions/AzureBlobDataReference"
        },
        "performance": {
          "$ref": "#/definitions/AzureBlobDataReference"
        },
        "trained": {
          "$ref": "#/definitions/AzureBlobDataReference"
        },
        "setup": {
          "$ref": "#/definitions/AzureBlobDataReference"
        }
      },
      "type": "object"
    },
    "performanceItem": {
      "required": [
        "label",
        "min_class",
        "scans",
        "pred_incons.count",
        "cv.haresults.mean",
        "pred_pos_class.count",
        "pred_neg_class.count",
        "pred_pos_prob.mean",
        "pred_pos_prob.sd",
        "pred_neg_prob.mean",
        "pred_neg_prob.sd",
        "md5",
        "timestamp",
        "scan_prop",
        "scan_rand",
        "min_ngrams",
        "max_ngrams",
        "stops",
        "stem",
        "min_freq",
        "fselm",
        "fself",
        "fselv",
        "lwght",
        "cwght",
        "rwght",
        "cost",
        "shrinking",
        "scale",
        "weights",
        "cv.baresults.mean",
        "cv.baresults.sd",
        "cv.unresults.mean",
        "cv.unresults.sd",
        "cv.haresults.sd",
        "cv.nsresults.mean",
        "cv.nsresults.sd",
        "final_metrics",
        "guid"
      ],
      "properties": {
        "label": {
          "type": "string"
        },
        "min_class": {
          "type": "number",
          "format": "double"
        },
        "scans": {
          "type": "number",
          "format": "double"
        },
        "pred_incons.count": {
          "type": "number",
          "format": "double"
        },
        "cv.haresults.mean": {
          "type": "number",
          "format": "double"
        },
        "pred_pos_class.count": {
          "type": "number",
          "format": "double"
        },
        "pred_neg_class.count": {
          "type": "number",
          "format": "double"
        },
        "pred_pos_prob.mean": {
          "type": "number",
          "format": "double"
        },
        "pred_pos_prob.sd": {
          "type": "number",
          "format": "double"
        },
        "pred_neg_prob.mean": {
          "type": "number",
          "format": "double"
        },
        "pred_neg_prob.sd": {
          "type": "number",
          "format": "double"
        },
        "md5": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "scan_prop": {
          "type": "number",
          "format": "double"
        },
        "scan_rand": {
          "type": "number",
          "format": "double"
        },
        "min_ngrams": {
          "type": "number",
          "format": "double"
        },
        "max_ngrams": {
          "type": "number",
          "format": "double"
        },
        "stops": {
          "type": "number",
          "format": "double"
        },
        "stem": {
          "type": "number",
          "format": "double"
        },
        "min_freq": {
          "type": "number",
          "format": "double"
        },
        "fselm": {
          "type": "number",
          "format": "double"
        },
        "fself": {
          "type": "number",
          "format": "double"
        },
        "fselv": {
          "type": "number",
          "format": "double"
        },
        "lwght": {
          "type": "number",
          "format": "double"
        },
        "cwght": {
          "type": "number",
          "format": "double"
        },
        "rwght": {
          "type": "number",
          "format": "double"
        },
        "cost": {
          "type": "number",
          "format": "double"
        },
        "shrinking": {
          "type": "number",
          "format": "double"
        },
        "scale": {
          "type": "number",
          "format": "double"
        },
        "weights": {
          "type": "number",
          "format": "double"
        },
        "cv.baresults.mean": {
          "type": "number",
          "format": "double"
        },
        "cv.baresults.sd": {
          "type": "number",
          "format": "double"
        },
        "cv.unresults.mean": {
          "type": "number",
          "format": "double"
        },
        "cv.unresults.sd": {
          "type": "number",
          "format": "double"
        },
        "cv.haresults.sd": {
          "type": "number",
          "format": "double"
        },
        "cv.nsresults.mean": {
          "type": "number",
          "format": "double"
        },
        "cv.nsresults.sd": {
          "type": "number",
          "format": "double"
        },
        "final_metrics": {
          "type": "string"
        },
        "guid": {
          "type": "string"
        }
      }
    },
    "trainedItem": {
      "required": [
        "fuid",
        "true_label",
        "inconsistencies_final",
        "md5",
        "scored_label",
        "scored_prob"
      ],
      "properties": {
        "fuid": {
          "type": "integer",
          "format": "int32"
        },
        "true_label": {
          "type": "string"
        },
        "inconsistencies_final": {
          "type": "number",
          "format": "double"
        },
        "md5": {
          "type": "string"
        },
        "scored_label": {
          "type": "string"
        },
        "scored_prob": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "setupItem": {
      "required": [
        "global_var",
        "setup_name",
        "values"
      ],
      "properties": {
        "global_var": {
          "type": "string",
          "enum": [
            "VOX_SVM_MODELS_",
            "VOX_SVM_PARAMS_",
            "VOX_WORKER_CONF_"
          ]
        },
        "setup_name": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "cleanup",
            "costs",
            "cross",
            "cwghts",
            "feature_colset",
            "fselfs",
            "fselm",
            "fselvs",
            "functions_md5",
            "http_url",
            "keywords",
            "label_colset",
            "label_column",
            "lwghts",
            "min_conf",
            "min_freq",
            "ncross",
            "ngrams",
            "numb_remove",
            "number_of_params",
            "number_of_scans",
            "rwght",
            "scale",
            "scan_prop",
            "scan_rand",
            "shrinking",
            "stability",
            "stem",
            "storage_container",
            "storage_key",
            "storage_name",
            "sub_worker_id",
            "tenant_name",
            "total_sub_workers",
            "total_workers",
            "train_path",
            "train_version",
            "update_auto",
            "update_min_f1",
            "weights",
            "worker_id",
            "workspace_id",
            "workspace_key"
          ]
        },
        "values": {
          "type": "string",
          "enum": [
            "0, 1, 2",
            "0, 1, 2, 3",
            "0.00032, 0.0016, 0.008, 0.04, 0.2, 1, 5, 25, 125, 625, 3125",
            "0.001",
            "0.1",
            "0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9",
            "0.55",
            "1",
            "1, 2, 3",
            "10764444",
            "13068",
            "2",
            "3",
            "333533ce0e6e44b38365410aec94d7f2",
            "5",
            "659",
            "987654321",
            "Account registration and management, Analytics, App/iap submissions, External tools, Monetization, Other, Payout, Site experience and overview page, Store content, Store search, Support",
            "Account registration and management=list(call = svm_train(x = train_matrix, y = factor(labels[, label]), scale = scale, type = \"C-classification\", kernel = \"linear\", cost = cost, class.weights = class_weights, shrinking = shrinking, cross = cross, ncross = ncross, fselm = fselm, fself = fself, fselv = fselv, lwght = lwght, cwght = cwght, rwght = rwght, fitted = stability, cvstability = stability), type = 0, kernel = 0, cost = 0.2, degree = 3, gamma = 0.00137174211248285, coef0 = 0, nu = 0.5, epsilon = 0.1, sparse = TRUE, scaled = c(FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE), x.scale = NULL, y.scale = NULL, fselm = 1, fself = 1, fselv = 0.7, lwght = 1, cwght = 3, rwght = 1, nnremove = 0, nremove = NULL, nclasses = 2, levels = c(\"0\", \"1\"), tot.nSV = 188, nSV = c(18, 170), labels = 1:2, SV = <S4 object of class \"matrix.csr\">, index = c(1, 2, 3, 11, 17, 26, 27, 36, 69, 80, 89, 96, 101, 104, 108, 180, 187, 218, 4, 5, 7, 12, 13, 16, 19, 20, 21, 22, 23, 24, 25, 30, 33, 34, 35, 37, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, \n54, 55, 56, 57, 61, 62, 65, 66, 67, 68, 70, 71, 73, 74, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 93, 97, 98, 100, 102, 103, 105, 106, 107, 110, 114, 115, 116, 117, 118, 119, 121, 123, 124, 126, 133, 134, 135, 138, 140, 142, 145, 146, 147, 148, 149, 150, 151, 152, 159, 161, 162, 164, 165, 166, 169, 170, 171, 178, 179, 184, 186, 188, 191, 192, 194, 195, 196, 197, 198, 199, 200, 202, 203, 204, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 219, 221, 222, 223, 224, 225, 230, 231, 234, 237, \n239, 242, 243, 244, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 257, 258, 261, 262, 263, 264, 265, 267, 268, 270, 272, 273, 279, 285, 286, 288, 289, 290, 291, 294, 297, 299), rho = -0.893514272541596, compprob = FALSE, probA = NULL, probB = NULL, sigma = NULL, coefs = c(-2.15906266118391, -0.971888956810281, -1.2106498162844, -2.03223821687681, -2.24464281636062, -1.2127587200731, -2.70313813425449, -1.73673194795404, -1.15523021106584, -1.35916148804162, -1.88714488691316, -1.05914418425167, \n-1.14749295325377, -2.01743226291949, -1.19021085165923, -1.92090750192968, -0.906894149394971, -1.17193579481022, 0.2, 0.2, 0.0671415224891906, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.1667488063584, 0.2, 0.2, 0.0205221227596187, 0.00673395431836725, 0.2, 0.2, 0.0615138854273098, 0.2, 0.2, 0.2, 0.123191319290811, 0.2, 0.0898155905900073, 0.2, 0.2, 0.0193031117133007, 0.0260728061792373, 0.2, 0.2, 0.0589031480220667, 0.2, 0.2, 0.2, 0.139868079003073, 0.2, 0.2, \n0.102784342738235, 0.2, 0.2, 0.2, 0.2, 0.0229792066743079, 0.2, 0.2, 0.2, 0.2, 0.2, 0.0522067342772232, 0.2, 0.2, 0.2, 0.2, 0.2, 0.140581574085207, 0.2, 0.2, 0.164765081329159, 0.0522996722365112, 0.106774223249306, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.198227770353397, 0.2, 0.2, 0.2, 0.2, 0.2, 0.175736846791592, 0.2, 0.2, 0.00750873437146618, 0.0763648974379268, 0.2, 0.2, 0.2, 0.2, 0.0589634153646873, 0.125606837817021, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.100757917856715, 0.2, 0.106045607760013, \n0.2, 0.180637759299627, 0.2, 0.2, 0.2, 0.0752921951435524, 0.2, 0.096348762149983, 0.030262251643676, 0.086785515693815, 0.2, 0.2, 0.0119037066780424, 0.2, 0.2, 0.2, 0.2, 0.0308879932015428, 0.2, 0.16985457082313, 0.2, 0.2, 0.0932808500224805, 0.0477727958489735, 0.2, 0.0548924830093654, 0.2, 0.2, 0.2, 0.2, 0.104448497923186, 0.2, 0.2, 0.2, 0.2, 0.2, 0.0359605543818404, 0.2, 0.2, 0.189737660660271, 0.2, 0.00063269976165603, 0.101071185176641, 0.177197100148123, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.032110014304869, \n0.2, 0.124416835120761, 0.1064221906087, 0.2, 0.2, 0.13190224608737, 0.2, 0.0371348622543263, 0.0502222094484812, 0.2, 0.0251508801710393, 0.2, 0.186995217888643, 0.2, 0.0339273080930744, 0.2, 0.2), x = <S4 object of class \"matrix.csr\">, nnz_cols = 1:729, na.action = NULL, cv.baresults = c(0.625, 0.732142857142857, 0.616071428571429, 0.982456140350877, 0.833333333333333), cv.unresults = c(0.95, 0.933333333333333, 0.933333333333333, 0.966666666666667, 0.983333333333333), cv.haresults = c(0.4, 0.5, \n0.333333333333333, 0.75, 0.8), cv.nsresults = c(152, 160, 148, 170, 158), tot.accuracy = 95.3333333333333, feature_weighted = c(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1), feature_centering = c(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n0, 0, 0, 0), feature_values = c(0.0147817475492144, 0.00275944745593942, 0.000597171396370892, 0.0072730697731825, 0.0275824600700337, 0.0225433709964095, 0.0598907626303379, 0.0275824600700337, 0.0072730697731825, 0.0417917905834486, 0.000597171396370892, 0.00180402153642776, 0.00119849254336902, 0.00180402153642776, 0.0072730697731825, 0.00150072738051627, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.0275824600700337, 0.0072730697731825, 0.000597171396370892, 0.00150072738051627, \n0.00119849254336902, 0.000597171396370892, 2.88332658372331e-05, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, 0.00150072738051627, 0.000597171396370892, 0.00119849254336902, 0.000897309648535686, 0.000597171396370892, 0.00241381770088034, 0.000597171396370892, 0.000597171396370892, 0.00180402153642776, \n0.000597171396370892, 0.000597171396370892, 0.00458259484257359, 0.000597171396370892, 0.00426942165369474, 0.000597171396370892, 0.00945171024908528, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.00368960441312098, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00503974137399441, \n0.000897309648535686, 0.00115734874114284, 0.000897309648535686, 0.00755743209493133, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.0072730697731825, 0.00180402153642776, 0.00368960441312098, 7.75489457962297e-05, 0.0072730697731825, 0.000597171396370892, 0.00210838246544068, 0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.00155875440859451, 0.00119849254336902, 0.000597171396370892, 0.00503974137399441, 0.000597171396370892, 0.0072730697731825, 0.0072730697731825, \n0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.0102854985908662, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.00180402153642776, 0.000597171396370892, 0.00503974137399441, 0.00368960441312098, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.0186653511614407, 0.00503974137399441, 0.0072730697731825, 0.000597171396370892, 0.00119849254336902, 0.000897309648535686, 0.0186653511614407, 0.0275824600700337, \n0.000897309648535686, 0.00275944745593942, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00207706710480837, 0.00503974137399441, 0.0147817475492144, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00503974137399441, 0.00878151138760979, 0.000597171396370892, \n0.0072730697731825, 0.0072730697731825, 0.00155875440859451, 0.00503974137399441, 0.00567116474774195, 0.00180402153642776, 0.000597171396370892, 0.00119849254336902, 0.00150072738051627, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.0141814563237958, 0.012200270736326, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.0148012849867897, 0.000597171396370892, \n0.00180402153642776, 0.00119849254336902, 0.00119849254336902, 0.000597171396370892, 0.00503974137399441, 0.0072730697731825, 0.0102854985908662, 0.00364645520127721, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.0055289730207225, 0.000597171396370892, 0.00180402153642776, 0.000597171396370892, 0.00210838246544068, 0.00210838246544068, 0.000597171396370892, 0.00119849254336902, 0.00458259484257359, 0.00458259484257359, 0.000597171396370892, 0.000897309648535686, 7.75489457962297e-05, \n0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00680712980769308, 0.00503974137399441, 0.0072730697731825, 0.00207706710480837, 0.000897309648535686, 0.000153669894067399, 0.00368960441312098, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.0072730697731825, 0.0072730697731825, 0.0198069919988243, 0.00150072738051627, 0.00210838246544068, 0.000597171396370892, 0.00333664578749266, 0.000597171396370892, 0.000597171396370892, \n0.000597171396370892, 0.000597171396370892, 0.00180402153642776, 0.00119849254336902, 0.000597171396370892, 0.00368960441312098, 0.0072730697731825, 0.000597171396370892, 0.000597171396370892, 0.00878151138760979, 0.00368960441312098, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00503974137399441, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.0072730697731825, 0.000897309648535686, 0.00503974137399441, 0.00150072738051627, \n0.00210838246544068, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.00175490729079299, 0.000597171396370892, 0.00272033485617973, 0.00180402153642776, 0.000597171396370892, 0.0275824600700337, 4.44934324536628e-06, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000897309648535686, \n0.000897309648535686, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.00119849254336902, 0.00150072738051627, 0.00989848309706467, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, 0.0072730697731825, 0.00207706710480837, 0.000597171396370892, 0.0072730697731825, 0.00180402153642776, 0.00180402153642776, 0.00368960441312098, 0.00503974137399441, 0.0275824600700337, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.00155875440859451, 0.000597171396370892, \n0.000597171396370892, 2.89866170356812e-05, 0.000597171396370892, 0.000597171396370892, 0.00155875440859451, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000261772118227588, 0.0072730697731825, 0.0102854985908662, 0.0072730697731825, 0.000897309648535686, 0.00150072738051627, 0.000597171396370892, 0.00368960441312098, 0.000897309648535686, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, 0.000597171396370892, \n0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.0072730697731825, 0.000897309648535686, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00368960441312098, 0.00272033485617973, 0.000597171396370892, 0.000597171396370892, 0.00180402153642776, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.0261094629975762, 0.0261094629975762, 0.000597171396370892, \n0.00150072738051627, 0.000597171396370892, 0.000597171396370892, 4.44934324536628e-06, 0.00119849254336902, 0.000897309648535686, 0.000897309648535686, 0.00119849254336902, 0.00180402153642776, 0.000597171396370892, 0.000597171396370892, 0.000153669894067399, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.00150072738051627, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00103760268983057, \n0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.0175972381991033, 0.00084361659830523, 0.000597171396370892, 0.00210838246544068, 0.000597171396370892, 0.0275824600700337, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00368960441312098, 0.000597171396370892, 0.00150072738051627, 0.00119849254336902, 0.00210838246544068, 0.00084361659830523, 0.000597171396370892, 0.000897309648535686, 0.00119849254336902, \n0.00653685904920239, 0.00503974137399441, 0.00119849254336902, 0.00150072738051627, 4.44934324536628e-06, 0.000597171396370892, 0.000597171396370892, 0.00207706710480837, 0.000597171396370892, 0.00368960441312098, 0.00368960441312098, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00275944745593942, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.00371869822165243, 0.000897309648535686, 0.0072730697731825, 0.000597171396370892, \n0.000897309648535686, 0.00155875440859451, 0.0072730697731825, 0.00275944745593942, 0.000597171396370892, 0.00503974137399441, 0.000897309648535686, 0.000597171396370892, 0.00210838246544068, 0.000597171396370892, 0.0198069919988243, 0.0275824600700337, 0.00150072738051627, 0.00175490729079299, 0.00119849254336902, 0.00275944745593942, 0.00278682531977183, 0.000897309648535686, 0.00119849254336902, 0.00119849254336902, 0.000897309648535686, 0.0072730697731825, 0.000897309648535686, 0.0107705770780081, \n0.000897309648535686, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.00119849254336902, 0.00240055252834211, 0.00150072738051627, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.00119849254336902, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000897309648535686, 0.00115734874114284, 0.000897309648535686, 0.00180402153642776, \n0.000597171396370892, 0.000597171396370892, 0.00210838246544068, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.00797544035623499, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.0225433709964095, 0.000597171396370892, 0.00241381770088034, 0.000597171396370892, 0.00150072738051627, 0.00275944745593942, 0.000897309648535686, 0.00426942165369474, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.000897309648535686, \n0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.00272033485617973, 0.000597171396370892, 0.000897309648535686, 0.0072730697731825, 0.00150072738051627, 0.00084361659830523, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00503974137399441, 0.00275944745593942, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00210838246544068, 0.000597171396370892, 0.00364645520127721, 0.000407492562860434, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, \n0.000897309648535686, 0.00503974137399441, 0.00275944745593942, 0.00119849254336902, 0.00155875440859451, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00210838246544068, 0.000597171396370892, 0.00155875440859451, 0.0072730697731825, 0.00368960441312098, 0.000897309648535686, 0.0072730697731825, 7.75489457962297e-05, 0.000597171396370892, \n0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.0072730697731825, 0.000897309648535686, 0.00503974137399441, 0.0417917905834486, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00150072738051627, 0.00503974137399441, 0.00119849254336902, 0.00272033485617973, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.00503974137399441, 0.000897309648535686, 0.000897309648535686, 0.00368960441312098, 0.00368960441312098, 0.000597171396370892, \n0.00155875440859451, 0.0072730697731825, 0.000597171396370892, 0.0198069919988243, 0.000597171396370892, 0.00219771929567903, 0.000597171396370892, 0.0275824600700337, 0.000597171396370892, 0.0072730697731825, 0.00119849254336902, 0.000597171396370892, 0.00150072738051627, 0.000897309648535686, 0.00843184233311276, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000897309648535686, 0.000597171396370892, 0.00207706710480837, 0.000597171396370892, 0.0072730697731825, 0.000597171396370892, \n0.00503974137399441, 0.000897309648535686, 0.000597171396370892, 0.00368960441312098, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000897309648535686, 0.000897309648535686, 0.00503974137399441, 0.000897309648535686, 0.000597171396370892, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 2.89866170356812e-05, 0.00368960441312098, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, \n0.000897309648535686, 0.00180402153642776, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.00406708005563385, 0.00150072738051627, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00119849254336902, 0.000897309648535686, 0.00368960441312098, 0.00150072738051627, 0.000597171396370892, 0.000597171396370892, \n0.00119849254336902, 0.000597171396370892, 7.75489457962297e-05, 0.000897309648535686, 0.00136648596076332, 0.000597171396370892, 0.0072730697731825, 0.00503974137399441, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00503974137399441, 0.000597171396370892, 0.00241381770088034, 0.000597171396370892, 0.00503974137399441, 0.0072730697731825, 0.012200270736326, 0.0275824600700337, 0.000897309648535686, 0.000597171396370892, 0.000597171396370892, \n0.000597171396370892, 0.00492743394245642, 0.00878151138760979, 0.000597171396370892, 0.000316553533602909, 0.00155875440859451, 0.000597171396370892, 0.0072730697731825, 0.000897309648535686, 0.00333664578749266, 0.000597171396370892, 0.000897309648535686, 0.00119849254336902, 0.000897309648535686, 0.0072730697731825, 0.0072730697731825, 0.000597171396370892, 0.00207706710480837, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.00150072738051627, 0.000597171396370892, 0.000597171396370892, \n0.00241381770088034, 0.00150072738051627, 0.000597171396370892, 0.00241381770088034, 0.000597171396370892, 0.00119849254336902, 0.000897309648535686, 0.0141814563237958, 0.000897309648535686, 0.00368960441312098, 0.0253535089234876, 0.000597171396370892, 0.000597171396370892, 0.0157539915281476, 0.00368960441312098, 0.00503974137399441, 0.000897309648535686, 0.00180402153642776, 0.000597171396370892, 0.000897309648535686, 0.00119849254336902, 0.00503974137399441, 0.00503974137399441, 0.000597171396370892, \n0.00241381770088034, 0.00272033485617973, 0.00503974137399441, 0.0072730697731825, 0.00119849254336902, 0.000597171396370892, 0.0275824600700337, 0.00102784413247622, 0.00180402153642776, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, 0.00302794162602047, 0.000897309648535686, 0.000597171396370892, 0.00489690558677178, 0.00150072738051627, 0.000231204011789582, 0.000597171396370892, 0.000597171396370892, 0.00275944745593942, 0.000597171396370892, 0.00119849254336902, 0.000597171396370892, \n0.000597171396370892, 0.00241381770088034, 0.00119849254336902, 0.000597171396370892, 0.00150072738051627, 0.00644839825581772, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.000597171396370892, 0.00241381770088034), feature_selected = c(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, \n1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1), min_class = 18, scan_prop = 0.1, scan_rand = 987654321, weights = c(-0.441020840823244, \n-0.0366319821276261, 0.0262415183240341, -0.250566603473064, -0.387285082897915, -0.571779517229328, -1.08612985217899, -0.469323444792857, -0.255650899521264, -0.577729973623615, 0.0628616453159906, 0.0750943699685327, 0.0160695824924446, 0.050456669521648, -0.35933939971993, 0.121757973348305, 0.0423111008164787, 0.0379998853479198, 0, -0.387285082897915, -0.065710465207045, 0.0287461430585173, 0.0642783299697784, 0.105304289725412, 0.0315087379540468, 0, 0.0321391649848892, 0, 0, 0, 0, 0.0381449353406998, \n0.0276940615511106, 0.0570340551343868, 0.0195265978608717, 0.0195265978608717, -0.308446150624093, 0.0300050779285932, 0.0199960569589809, 0.0248948901494977, 0.0504302969061464, 0.0504302969061464, 0.0775908079898659, 0.0241659564911965, 0.00675595418018261, 0.0433692194945556, 0.123909259715786, 0.0416806737856363, 0.0324388056311545, 0.220700063806288, 0.0491233579498746, 0.105943858216727, 0.00675595418018261, 0.318048493561786, 0.033657337090184, 0, 0, 0.035206691283208, 0.035206691283208, \n-0.33407641771283, 0.0292342809435598, 0.0182911319212572, 0.0152771542944307, 0.0142547726325291, 0, 0, 0, 0, 0.00369266257263724, 0.0397340805745427, -0.251256711526102, 0.0160695824924446, -0.0665230933803485, 0.0611594972719716, -0.305269751535463, 0.00132531889228982, 0.0575192001232962, 0.0365130717046186, -0.236033993173568, 0.0171381521988408, -0.00971375387868433, 0, -0.065710465207045, 0.0262372114995857, 0.105802022212202, 0.031610458413765, 0.0142547726325291, 0.108826874603952, -0.0305306405426926, \n0.0932654760611567, 0.0717362491591113, -0.263923813782502, 0.0206740809837118, -0.317901885311988, -0.262145737531644, 0.0536170501185802, 0.0393622774860511, 0.091916588145557, -0.275207087156839, 0.0365136302394797, 0.0365136302394797, 0.0156156634039053, 0.042080044661694, 0, -0.148069570402792, -0.447357946167858, 0.0914947077229497, 0.0709932613758993, 0.0222020663782235, 0.0854381749134156, 0.0708261877202112, -0.325373319553816, -0.0344060776864147, -0.122940970685516, 0.0454937645850533, \n0.157302802998074, 0.0196516195490212, -0.348626555459129, -0.350285501890602, 0.031610458413765, -0.0581356268933375, 0.0704133825664159, 0.0537320186868425, 0.0772867359449019, 0.0482448370696886, 0.0398847100484523, 0.0717203215226876, 0.0673458562680971, 0.0248948901494977, 0.0497897802989953, 0.0198136207161927, 0.0507756871599188, 0.0507756871599188, 0.0403645076053851, -0.235187129033658, -0.0650984384129114, -0.210611072157011, 0.017827601123633, 0.0160695824924446, 0.0654476999639577, -0.253785556509381, \n-0.161492100941563, 0.0332667565852352, -0.0802935542228323, -0.164255083602962, 0.0563741941803838, -0.0376387012629444, -0.216014132885295, 0.0803479124622229, 0.0482087474773338, 0.0834364928693015, 0.132650764447394, 0.100419238793313, 0.0681084205445684, 0.0681084205445684, 0.00561532891610433, 0.0260077988297328, 0.0556666666666667, 0.0597064156375058, 0.100501340709923, -0.390908520744337, -0.330873753823505, 0.0365136302394797, 0.0803479124622229, 0.0454516430049768, -0.496434233354947, 0.00437446525459052, \n0.0675384002539606, 0.0697540304890977, 0.047728949920401, 0.0295064516021785, -0.148356117566295, -0.173251007715793, -0.333864899135383, 0.162264060295899, 0.0248948901494977, 0.0576698295972058, 0.0554318599784957, 0.168842151293053, 0, 0.095551376715119, 0.0155897849355118, 0.0714686343316479, 0.0714686343316479, 0.0248948901494977, 0.0569510876301245, 0.120361421078356, 0.120361421078356, 0.00437446525459052, 0, 0, 0.0673458562680971, 0.0673458562680971, 0.00169899673723863, 0.160513575717678, \n-0.299796927414831, -0.313713594081498, 0.0671752291119074, 0.0671942175150944, 0, -0.252850542248864, 0.0987305871576946, 0.094681121443619, 0.0549387122347441, 0.0155897849355118, 0.00840961037595264, -0.282819818515356, -0.0108574216753085, -0.489521608710409, 0.141796180713563, 0.0905327070726195, 0.0332667565852352, 0.176648508732515, 0.042080044661694, 0, 0.0240396012351171, 0.0240396012351171, 0.110989801065638, 0.0251602614429868, 0.0248948901494977, -0.0327709945711471, -0.061805706959893, \n0.0704638612827071, 0.00539165930987587, -0.545404247970305, -0.0648713678709637, 0.0441852985201195, 0.0186292378871196, 0.0711058221282689, 0.0578631881425982, 0.0423862525066943, -0.229220925741228, 0.0324381360727414, 0, 0.0994850212529863, -0.262034192383557, 0.120804599633796, -0.298123809145986, 0.0717739727558253, 0.0662259382696291, 0.035206691283208, 0, 0.0650945340258072, 0.0556666666666667, 0.00859715810776275, 0.0901238259100952, 0.0481094949145186, 0.0262415183240341, 0.0465611253540924, \n0.0371111111111111, -0.0759913161655556, 0.00876244694068636, 0.137697398717329, 0.0575946270123652, 0.0154391554616022, -0.31853672462561, 0, 0.0636572025989916, 0.0449690060966523, 0.0206740809837118, 0.0977467113283606, 0, 0.0670787173759127, 0.0670787173759127, 0.0393622774860511, 0.0601015814327056, 0, 0.0139166666666667, 0.0795266380384839, -0.0117860093671596, 0.0142547726325291, -0.151762232975429, 0.0222020663782235, -0.157094071832749, 0.0276578728108959, 0.0332667565852352, -0.0802935542228323, \n0.0487876486110175, 0.0487876486110175, -0.0573710468607507, -0.093617510929481, -0.31853672462561, 0, 0, 0.0886013371151596, -0.233422026465665, 0.00437446525459052, 0.0154391554616022, 0, 0, 0, -0.083199936979791, 0, 0.00378892780396338, 0.0154391554616022, 0.0448157255509619, 0, 0.0287461430585173, 0, -0.236033993173568, -0.41271805873247, -0.227964016532496, 0.0275890700196115, 0.0438755835287482, 0.0308783109232044, -0.0138493248309356, 0.0139166666666667, 0.0139166666666667, -0.173080391260015, \n0.0337469722746306, 0.0494561230890551, 0.0154391554616022, 0.0365193692081636, 0.042080044661694, 0.105985497118073, 0.0208914800002282, -0.036775690533938, 0.0642783299697784, 0.0783878408011659, 0.0321391649848892, 0.0497897802989953, 0.0160695824924446, -0.215769456815095, 0.117540996149762, 0.0909032860099535, 0.00169899673723863, 0.0631681053820032, 0.0388115568161643, -0.251244627497795, 0.017827601123633, 0.0642783299697784, 0, -0.405977465825282, -0.405977465825282, 0.0199960569589809, 0.0809057390395938, \n0.0812082850375892, 0.0540488011127395, 0, 0.0692502760960003, 0.0201721583926419, 0.0201721583926419, 0, 0.048686804510618, 0.0308783109232044, 0.00437446525459052, 0, 0.0159989443132565, 0.0159989443132565, 0, 0.0529696896979376, 0.0316231277458371, 0.0946630190254011, 0, 0.0155897849355118, 0.0155897849355118, 0.0435670848080174, 0.0221732995267307, -0.147899431331925, 0.0154391554616022, 0.0154391554616022, 0.0745689687692591, 0.0154391554616022, 0.00437446525459052, 0.0556666666666667, -0.379493170756326, \n-0.140138974885342, 0.0242949251129405, 0.092681488486418, 0.0161713029521628, -0.287539636934257, 0, 0, 0.0174100023110139, -0.428912474492678, 0.0927777777777778, 0.0198136207161927, 0.00437446525459052, 0.122295002165916, -0.123520771384848, 0.031091507898205, 0.0308783109232044, 0.054159077808352, -0.0283165325466438, -0.266770514612166, 0.0308783109232044, 0.0595595518633037, 0, 0, 0.0154391554616022, -0.211045845759531, 0.042080044661694, -0.260950797681864, -0.193023601661182, 0, 0.0188627765571564, \n0.0848139204910279, -0.266195204259324, 0.0375494763100763, 0.0324381360727414, 0.0457673060714402, 0.0262415183240341, 0.074197786063494, -0.0889892398981188, 0.0160695824924446, -0.122940970685516, 0.0160695824924446, 0.0642783299697784, -0.392688924637497, -0.542731780889122, -0.0173409986794929, 0.0642783299697784, -0.041189011211158, 0.0921760328056896, 0.0977467113283606, 0.155416822621012, 0.0142547726325291, -0.245404713666912, -0.201042731665987, 0.102416355374, 0.0206399404568891, 0.0916654352025745, \n-0.0537752935112168, -0.0393324651566096, 0.023214604765021, 0.0518926939426882, 0.0425042193888016, 0.0660850022064124, -0.0512219155362619, 0.0790199060346344, -0.322409616719719, 0.078194996636445, 0.047728949920401, 0, 0.0482766624104013, 0.0703202947702111, 0.115835666083213, 0.0305005291493567, 0.116740470771893, 0.0298445575680409, 0.0298445575680409, 0.0328491577726161, 0.00169899673723863, 0.0459141400604855, 0.0298445575680409, 0.0139672640855343, 0.0532789441527178, 0.0139166666666667, \n0.0139166666666667, 0.0266976694514573, 0.0414855763657016, 0.040748460079254, 0.0230619664415932, 0.0272712278218101, 0.109744086121898, 0.0437494949609577, 0.0242949251129405, 0.162891369376163, 0.0565696689338721, 0.0476953735777983, 0.0683215629857281, -0.151134054087415, 0.0945355135221961, 0.0891520577850465, 0.0458596143032825, 0.00619661774870734, 0.00619661774870734, -0.59643269116051, 0, 0.144497006608671, 0.0498261082595673, 0.0506458467448102, -0.0216295123178666, 0.0426628097251839, \n0.164536605327514, 0.00437446525459052, 0.0315435543052796, 0.00169899673723863, 0.0371111111111111, 0.110672872564095, 0, 0.0630936286836589, 0.0718493996448943, 0.0154391554616022, 0, -0.125329416347546, 0.0817617285302861, -0.185312437426436, 0.09015876913731, 0.0449690060966523, 0.0449690060966523, -0.252993128311367, -0.152171042514743, 0.0787245549721023, 0.0174100023110139, 0.035206691283208, 0.0781456841131195, 0.0199960569589809, 0.0338478906354185, 0, 0.0454516430049768, 0.0262415183240341, \n0.0747993526371434, 0.0614493992387943, -0.0701033306983443, -0.0202588222020682, 0.0100090209696122, -0.166090426562138, 0.0211988394721128, -0.11550024550604, 0.00876244694068636, 0.0139166666666667, 0.11383433323052, 0.0363082998233653, 0.086340219915118, 0.0195265978608717, 0.0195265978608717, 0.0548987402163474, 0.103153522247124, 0.00619661774870734, -0.218694937675015, -0.309288061969368, -0.29362681152747, 0.0633993754671715, -0.268565045882827, 0, 0.00840961037595264, 0.0790963580605938, \n0.0636572025989916, 0, -0.0838434894227078, 0.0448157255509619, -0.216529817799827, -0.748909232932773, 0.0287461430585173, 0.0449690060966523, 0, 0.0335682630296577, 0.0781354940699481, -0.0120769852211397, 0.0448157255509619, 0.138538430981374, 0.0174100023110139, 0.054952062421563, 0.0497897802989953, -0.061247561047006, 0.0507484124718378, 0.0584631531791553, -0.183234378040399, 0.0244862439740764, 0.0497897802989953, -0.17510666728522, -0.300676398666256, 0.020113284415374, -0.350350058405925, \n0.0756483076913516, -0.138737866066056, 0.0403340456110999, -0.418883526933537, 0.0703465331544744, -0.302462729850386, 0.121374094681214, 0.0315087379540468, 0.10382978233968, 0.0727999953059015, 0.169847304852663, 0.0255416183709225, 0.00840961037595264, 0.0262825520410543, 0, 0.0300050779285932, -0.118305465809723, 0.017827601123633, -0.282819818515356, 0.0160695824924446, -0.227153151848689, 0.0660850022064124, 0.0308783109232044, -0.0349523215507216, 0.0349288536162409, 0, 0.0536170501185802, \n0.0248948901494977, 0, -0.206284866078058, 0.112759418802463, 0.0690742190683035, 0.0541642455535858, 0.0292693554040882, 0.0497897802989953, 0.0923365516615726, 0, -0.171889163518042, 0.0671550088752005, 0.0940334149026949, 0.0199960569589809, 0.0454516430049768, 0.00169899673723863, 0.0597996860511951, 0.121715898659197, 0.0905815548709128, 0.00132531889228982, 0.0152771542944307, 0.300600842645983, 0.0299858511296758, 0.042080044661694, 0, 0, 0, 0.0154391554616022, 0.00169899673723863, 0.0426797705697634, \n0.0154391554616022, 0.0308783109232044, 0.0155897849355118, 0.0155897849355118, 0.0953072703668924, 0.00437446525459052, -0.155001606663459, 0.069267102607025, 0.0146171275246108, 0.0664678767605678, 0.0287461430585173, 0.0497897802989953, 0, 0.0871754046207135, -0.0425593375182716, 0.0497897802989953, -0.236033993173568, -0.154471981435488, 0, 0.040269496687248, 0, 0, 0.0248948901494977, -0.065674137246473, 0.0487422000174982, 0.157250830693832, 0.074197786063494, -0.281167516826046, -0.323169328769393, \n-0.325371900388342, -0.350285501890602, 0.083358043328653, 0.0408119398585782, 0.0408119398585782, 0.0279405150612727, -0.167682188274785, -0.388423133619529, 0.0614060362240516, 0, -0.135885876139137, 0, -0.237368175510379, 0.0697540304890977, 0.167837209184327, 0.0371111111111111, 0.0512056355964644, 0.0139166666666667, 0.0819081849907008, -0.319086268141061, -0.227964016532496, 0.0395720794073712, -0.0293004836914696, 0.0454516430049768, 0.0517544848089182, 0.0395926613539354, 0.087934379171589, \n0.0154391554616022, 0.0299862491591113, 0.197544974061919, 0.0862786476658706, 0.0385496977454696, 0.147067897515299, 0.0642783299697784, 0.0632356691619477, 0.0559966032569507, -0.450467495718916, 0.0775152570822771, -0.27972399065501, -0.427691174116657, 0.0449690060966523, 0.0994850212529863, -0.395680879519693, -0.18457611141416, -0.293606960199048, 0.0275890700196115, 0.0872829462645227, 0, 0.035206691283208, 0.0177685792296832, -0.219279936633238, -0.219279936633238, 0.0760312986230294, 0.101499575655833, \n0.14215837196763, -0.0516453025438689, -0.0677148850363135, 0.0448909471084786, 0.0287461430585173, -0.549151855367695, 0.110294690930303, 0.0541394826809814, 0.0155897849355118, 0.0541394826809814, 0.0298445575680409, 0.0819738512114259, 0.0315435543052796, 0.00169899673723863, 0.0848906216998972, 0.0293786504658609, 0, 0.0155897849355118, 0.0371111111111111, -0.223501446589879, 0.0642571676355488, 0.0668377469962362, 0.0154391554616022, 0.0852927129892622, 0.0664336284976705, 0.0715109913139059, \n0.0142547726325291, 0.0500550197904361, -0.315301673057952, 0.0167098607313785, 0.0397340805745427, 0.0657074280145469, 0.0608853080434064, 0.112932629660282), scans = 114); External tools=list(call = svm_train(x = train_matrix, y = factor(labels[, label]), scale = scale, type = \"C-classification\", kernel = \"linear\", cost = cost, class.weights = class_weights, shrinking = shrinking, cross = cross, ncross = ncross, fselm = fselm, fself = fself, fselv = fselv, lwght = lwght, cwght = cwght, rwght = rwght, fitted = stability, cvstability = stability), type = 0, kernel = 0, cost = 625, degree = 3, gamma = 0.00137174211248285, coef0 = 0, nu = 0.5, epsilon = 0.1, sparse = TRUE, scaled = c(FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, \nFALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE), x.scale = NULL, y.scale = NULL, fselm = 1, fself = 1, fselv = 0.9, lwght = 0, cwght = 1, rwght = 1, nnremove = 0, nremove = NULL, nclasses = 2, levels = c(\"0\", \"1\"), tot.nSV = 33, nSV = c(22, 11), labels = 1:2, SV = <S4 object of class \"matrix.csr\">, index = c(8, 13, 14, 20, 38, 41, 65, 70, 78, 97, 99, 108, 157, 165, 176, 179, 204, 211, 246, 252, 271, 288, 33, 49, 60, 61, 69, 89, 95, 251, 255, 270, 286), rho = -5.79512649534824, compprob = FALSE, \n    probA = NULL, probB = NULL, sigma = NULL, coefs = c(11.9718738632251, 1.21225270515288, 45.2252503942277, 1.07330271016894, 29.1166366583251, 1.72465955164568, 27.0960398131056, 0.381038797911744, 0.39539073008952, 1.47442731933681, 33.1267440362845, 7.54790894248765, 0.991754965691239, 2.61699039206052, 0.850352441725671, 2.66908310997777, 1.13557877362148, 14.2986389041238, 7.46392700487073, 3.07582599558692, 0.251754939552056, 28.2060300287556, -5.57182292887538, -6.95607305475181, -113.280061129309, \n    -3.10526968295222, -3.59340779010459, -2.61813089352533, -11.2989625660522, -36.0613703443945, -12.7802998112111, -1.95995748064799, -24.6801063961026), x = <S4 object of class \"matrix.csr\">, nnz_cols = 1:729, na.action = NULL, cv.baresults = c(0.833333333333333, 0.649122807017544, 0.666666666666667, 0.815789473684211, 0.741379310344828), cv.unresults = c(0.983333333333333, 0.933333333333333, 0.966666666666667, 0.95, 0.966666666666667), cv.haresults = c(0.8, 0.333333333333333, 0.5, 0.571428571428571, \n    0.5), cv.nsresults = c(32, 51, 25, 24, 25), tot.accuracy = 96, feature_weighted = c(0.000925633267445191, 0.00373501868560189, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00298381442490536, 0.0138869931880129, 0.000461225571828155, 0.0301665638225381, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000925633267445191, 0.00298381442490536, 0.000461225571828155, 0.00115904419502697, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.00845364746432724, 0.000461225571828155, 0.00115904419502697, 0.0172299054771761, 0.000461225571828155, 0.030969479857516, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.0351767869406423, 0.0458120238767151, 0.000461225571828155, 0.00186417284704317, \n    0.000461225571828155, 0.000461225571828155, 0.00298381442490536, 0.000461225571828155, 0.00845364746432724, 0.000304979906980016, 0.00845364746432724, 0.00329698443805278, 0.000461225571828155, 0.00769245302611431, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.0301665638225381, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, \n    0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.0019257050631805, 0.000693028911793852, 0.00973078161981591, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, 0.00139326730880789, 0.0172299054771761, 0.000424656122335706, 0.00845364746432724, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.00162830828189205, 0.00473375418196544, 0.000461225571828155, \n    0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00373501868560189, 0.0263593235529342, 0.0301665638225381, 0.0301665638225381, 0.00615222605503796, 0.00139326730880789, 0.000461225571828155, 0.000693028911793852, 0.000925633267445191, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00115904419502697, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, \n    0.00473375418196544, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000693028911793852, 0.00115904419502697, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00615222605503796, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00298381442490536, 0.00615222605503796, 0.00473375418196544, 0.000461225571828155, \n    0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.0110239319546249, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00162830828189205, 0.000693028911793852, 0.00233839598795523, 0.00139326730880789, 0.000461225571828155, 0.00473375418196544, 0.00373501868560189, 0.00615222605503796, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.0305160652197498, 0.0299937504662999, \n    0.0301665638225381, 0.00845364746432724, 0.000461225571828155, 0.0103192731157748, 0.00845364746432724, 0.00139326730880789, 0.0172299054771761, 0.00473375418196544, 0.0301665638225381, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.00617688841866923, 0.000461225571828155, 0.00473375418196544, 0.000461225571828155, 7.75489457964657e-05, 0.000461225571828155, 0.00298381442490536, 0.00845364746432724, 0.00162830828189205, 0.00162830828189205, 0.000461225571828155, 0.000925633267445191, \n    0.000304979906980016, 0.000304979906980016, 0.00845364746432724, 0.000693028911793852, 0.00497718480801545, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 1.89970923268612e-06, 0.00615222605503796, 0.000461225571828155, 0.00139326730880789, 0.000693028911793852, 0.0055429225218401, 0.00473375418196544, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.00115904419502697, \n    0.00162830828189205, 0.000461225571828155, 0.00689206963630609, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00139326730880789, 0.000925633267445191, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00239643068656094, 0.000925633267445191, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, \n    0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000693028911793852, 0.00615222605503796, 0.00115904419502697, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.00845364746432724, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00426942165388712, 0.000461225571828155, 0.00210086679752496, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, \n    0.000209064862899608, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00473375418196544, 0.00115904419502697, 0.00435166952282295, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.0125967430674468, 0.000461225571828155, 0.00845364746432724, 0.00298381442490536, 0.00298381442490536, \n    0.00473375418196544, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00162830828189205, 0.00845364746432724, 0.000461225571828155, 0.00353877985664155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.0150200860435945, 0.00845364746432724, 0.00139326730880789, 0.000461225571828155, 0.0211816020995036, \n    0.00373501868560189, 0.000461225571828155, 0.000925633267445191, 0.00615222605503796, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.00845364746432724, 0.00845364746432724, 0.000693028911793852, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.00210086679752496, 0.000461225571828155, 0.000461225571828155, \n    0.00298381442490536, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00373501868560189, 0.00373501868560189, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.000461225571828155, 0.00378144698112522, 0.000925633267445191, 0.000693028911793852, 0.000693028911793852, 0.000925633267445191, 0.00139326730880789, 0.000461225571828155, 0.00845364746432724, 0.0055429225218401, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, \n    0.00845364746432724, 0.00373501868560189, 0.00115904419502697, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.00228970189099997, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00186417284704317, 0.00154240225005435, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.000925633267445191, 0.000461225571828155, 0.00373501868560189, 0.00473375418196544, 0.0110239319546249, 0.0086408886181582, 0.000461225571828155, 0.000693028911793852, 0.000925633267445191, 0.00154240225005435, 0.000693028911793852, 0.000925633267445191, 0.00115904419502697, 0.00378144698112522, 0.000461225571828155, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.000925633267445191, 0.00473375418196544, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, \n    0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.00305605448380083, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00239643068656094, 0.000461225571828155, 0.0500124997403662, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00239643068656094, 0.000461225571828155, 0.0110239319546249, 0.00845364746432724, 0.00373501868560189, 0.00322355243765087, 0.000925633267445191, \n    0.00115904419502697, 0.000304979906980016, 0.00615222605503796, 0.000925633267445191, 0.00473375418196544, 0.000693028911793852, 0.00845364746432724, 0.000693028911793852, 0.000217338849598445, 0.00615222605503796, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, 0.00373501868560189, 0.000925633267445191, 0.0040122190652046, 0.00115904419502697, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00845364746432724, 0.000925633267445191, \n    0.00473375418196544, 0.00845364746432724, 0.00845364746432724, 0.000925633267445191, 0.00845364746432724, 0.000693028911793852, 0.0212757883068805, 0.00615222605503796, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000209064862899608, 0.000693028911793852, 0.00615222605503796, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.00186417284704317, \n    0.00845364746432724, 0.00115904419502697, 0.00373501868560189, 0.00615222605503796, 0.035893783966454, 0.00845364746432724, 0.00615222605503796, 0.000461225571828155, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00210086679752496, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00115904419502697, 0.0086408886181582, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00373501868560189, 0.000461225571828155, \n    0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.00281598381913758, 0.00257676633517589, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, 0.00373501868560189, 0.000925633267445191, 0.00162830828189205, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.000925633267445191, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000925633267445191, 0.000693028911793852, 0.000461225571828155, 0.000424656122335706, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.000693028911793852, \n    0.000925633267445191, 0.00210086679752496, 0.000461225571828155, 0.00845364746432724, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000925633267445191, 0.000925633267445191, 0.000461225571828155, 0.00239643068656094, 0.000461225571828155, 0.00845364746432724, 0.00162830828189205, 0.000461225571828155, 0.0102491588457375, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, \n    0.00373501868560189, 0.00615222605503796, 0.0065101728988022, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, \n    0.00845364746432724, 0.00615222605503796, 0.00845364746432724, 0.000461225571828155, 0.00473375418196544, 0.00353877985664155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00298381442490536, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.00712606878645038, 0.00373501868560189, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.00473375418196544, 0.00615222605503796, 0.0351767869406423, 0.00115904419502697, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00497718480801545, 0.000693028911793852, 0.00857531034766265, 0.000461225571828155, 0.00845364746432724, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.0211816020995036, 0.000461225571828155, 0.0019257050631805, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00373501868560189, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00257676633517589, 0.00162830828189205, 0.000461225571828155, 0.00179670809269533, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.0458120238767151, 0.00689206963630609, 0.000461225571828155, 0.00615222605503796, \n    0.00473375418196544, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.00845364746432724, 0.0019257050631805, 0.00373501868560189, 0.000461225571828155, 0.0019257050631805, 0.000461225571828155, 0.000925633267445191, 0.000693028911793852, 0.00770562364640922, 0.000693028911793852, 0.000925633267445191, 0.00770562364640922, 0.000461225571828155, \n    0.000461225571828155, 0.0086408886181582, 0.000925633267445191, 0.000693028911793852, 0.0211816020995036, 0.00298381442490536, 0.000461225571828155, 0.000693028911793852, 0.000925633267445191, 0.0458120238767151, 0.0458120238767151, 0.000461225571828155, 0.0019257050631805, 0.00210086679752496, 0.000693028911793852, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.0180349625442568, 0.00298381442490536, 0.00845364746432724, 0.00473375418196544, 0.00845364746432724, \n    0.0458297360402282, 0.00615222605503796, 0.000461225571828155, 0.000209064862899608, 0.00115904419502697, 0.00203187281300132, 0.00845364746432724, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.0019257050631805, 0.00473375418196544, 0.000461225571828155, 0.00115904419502697, 0.00437098740659984, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.0019257050631805), feature_centering = c(0, \n    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, \n    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0), feature_values = c(0.000925633267445191, 0.00373501868560189, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00298381442490536, 0.0138869931880129, 0.000461225571828155, 0.0301665638225381, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000925633267445191, 0.00298381442490536, \n    0.000461225571828155, 0.00115904419502697, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00115904419502697, 0.0172299054771761, 0.000461225571828155, 0.030969479857516, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.0351767869406423, 0.0458120238767151, 0.000461225571828155, 0.00186417284704317, 0.000461225571828155, 0.000461225571828155, 0.00298381442490536, 0.000461225571828155, 0.00845364746432724, 0.000304979906980016, 0.00845364746432724, 0.00329698443805278, 0.000461225571828155, 0.00769245302611431, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, \n    0.0301665638225381, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.0019257050631805, 0.000693028911793852, 0.00973078161981591, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, 0.00139326730880789, 0.0172299054771761, 0.000424656122335706, 0.00845364746432724, 0.000461225571828155, 0.00162830828189205, \n    0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.00162830828189205, 0.00473375418196544, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00373501868560189, 0.0263593235529342, 0.0301665638225381, 0.0301665638225381, 0.00615222605503796, 0.00139326730880789, 0.000461225571828155, 0.000693028911793852, 0.000925633267445191, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, \n    0.000461225571828155, 0.00115904419502697, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00473375418196544, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000693028911793852, 0.00115904419502697, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00615222605503796, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, \n    0.000461225571828155, 0.000461225571828155, 0.00298381442490536, 0.00615222605503796, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.0110239319546249, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00162830828189205, 0.000693028911793852, 0.00233839598795523, 0.00139326730880789, 0.000461225571828155, 0.00473375418196544, 0.00373501868560189, 0.00615222605503796, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, \n    0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.0305160652197498, 0.0299937504662999, 0.0301665638225381, 0.00845364746432724, 0.000461225571828155, 0.0103192731157748, 0.00845364746432724, 0.00139326730880789, 0.0172299054771761, 0.00473375418196544, 0.0301665638225381, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.00617688841866923, 0.000461225571828155, 0.00473375418196544, 0.000461225571828155, 7.75489457964657e-05, 0.000461225571828155, \n    0.00298381442490536, 0.00845364746432724, 0.00162830828189205, 0.00162830828189205, 0.000461225571828155, 0.000925633267445191, 0.000304979906980016, 0.000304979906980016, 0.00845364746432724, 0.000693028911793852, 0.00497718480801545, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 1.89970923268612e-06, 0.00615222605503796, 0.000461225571828155, 0.00139326730880789, 0.000693028911793852, 0.0055429225218401, 0.00473375418196544, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, \n    0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.00115904419502697, 0.00162830828189205, 0.000461225571828155, 0.00689206963630609, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00139326730880789, 0.000925633267445191, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00239643068656094, 0.000925633267445191, 0.000461225571828155, \n    0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000693028911793852, 0.00615222605503796, 0.00115904419502697, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.00845364746432724, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, \n    0.00426942165388712, 0.000461225571828155, 0.00210086679752496, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, 0.000209064862899608, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00473375418196544, 0.00115904419502697, 0.00435166952282295, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, \n    0.000461225571828155, 0.0125967430674468, 0.000461225571828155, 0.00845364746432724, 0.00298381442490536, 0.00298381442490536, 0.00473375418196544, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00162830828189205, 0.00845364746432724, 0.000461225571828155, 0.00353877985664155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.0150200860435945, 0.00845364746432724, 0.00139326730880789, 0.000461225571828155, 0.0211816020995036, 0.00373501868560189, 0.000461225571828155, 0.000925633267445191, 0.00615222605503796, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.00845364746432724, 0.00845364746432724, 0.000693028911793852, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, \n    0.000461225571828155, 0.000925633267445191, 0.00210086679752496, 0.000461225571828155, 0.000461225571828155, 0.00298381442490536, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00373501868560189, 0.00373501868560189, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.000461225571828155, 0.00378144698112522, 0.000925633267445191, 0.000693028911793852, 0.000693028911793852, 0.000925633267445191, 0.00139326730880789, \n    0.000461225571828155, 0.00845364746432724, 0.0055429225218401, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.00373501868560189, 0.00115904419502697, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.00845364746432724, 0.00228970189099997, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, 0.00186417284704317, 0.00154240225005435, 0.000461225571828155, \n    0.00162830828189205, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00373501868560189, 0.00473375418196544, 0.0110239319546249, 0.0086408886181582, 0.000461225571828155, 0.000693028911793852, 0.000925633267445191, 0.00154240225005435, 0.000693028911793852, 0.000925633267445191, 0.00115904419502697, 0.00378144698112522, 0.000461225571828155, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, \n    0.000925633267445191, 0.00473375418196544, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.00305605448380083, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00239643068656094, 0.000461225571828155, 0.0500124997403662, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, \n    0.00239643068656094, 0.000461225571828155, 0.0110239319546249, 0.00845364746432724, 0.00373501868560189, 0.00322355243765087, 0.000925633267445191, 0.00115904419502697, 0.000304979906980016, 0.00615222605503796, 0.000925633267445191, 0.00473375418196544, 0.000693028911793852, 0.00845364746432724, 0.000693028911793852, 0.000217338849598445, 0.00615222605503796, 0.00473375418196544, 0.000461225571828155, 0.000461225571828155, 0.00373501868560189, 0.000925633267445191, 0.0040122190652046, 0.00115904419502697, \n    0.00845364746432724, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00845364746432724, 0.000925633267445191, 0.00473375418196544, 0.00845364746432724, 0.00845364746432724, 0.000925633267445191, 0.00845364746432724, 0.000693028911793852, 0.0212757883068805, 0.00615222605503796, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.00615222605503796, 0.000693028911793852, 0.000461225571828155, 0.000209064862899608, 0.000693028911793852, \n    0.00615222605503796, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.00186417284704317, 0.00845364746432724, 0.00115904419502697, 0.00373501868560189, 0.00615222605503796, 0.035893783966454, 0.00845364746432724, 0.00615222605503796, 0.000461225571828155, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00210086679752496, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.00115904419502697, \n    0.0086408886181582, 0.00845364746432724, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00373501868560189, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.00281598381913758, 0.00257676633517589, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, 0.00373501868560189, 0.000925633267445191, 0.00162830828189205, 0.000461225571828155, 0.00845364746432724, 0.000461225571828155, \n    0.00845364746432724, 0.000925633267445191, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.00162830828189205, 0.000461225571828155, 0.000925633267445191, 0.000693028911793852, 0.000461225571828155, 0.000424656122335706, 0.000461225571828155, 0.000693028911793852, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, \n    0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.00115904419502697, 0.000693028911793852, 0.000925633267445191, 0.00210086679752496, 0.000461225571828155, 0.00845364746432724, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000693028911793852, 0.000925633267445191, 0.000925633267445191, 0.000461225571828155, 0.00239643068656094, 0.000461225571828155, 0.00845364746432724, 0.00162830828189205, 0.000461225571828155, 0.0102491588457375, \n    0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.00373501868560189, 0.00615222605503796, 0.0065101728988022, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00139326730880789, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.000461225571828155, 0.00473375418196544, 0.000461225571828155, \n    0.000461225571828155, 0.000461225571828155, 0.000693028911793852, 0.000693028911793852, 0.00615222605503796, 0.000693028911793852, 0.00845364746432724, 0.00615222605503796, 0.00845364746432724, 0.000461225571828155, 0.00473375418196544, 0.00353877985664155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.00615222605503796, 0.00298381442490536, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, \n    0.00712606878645038, 0.00373501868560189, 0.00615222605503796, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000461225571828155, 0.000925633267445191, 0.000461225571828155, 0.000461225571828155, 0.00845364746432724, 0.00845364746432724, 0.00473375418196544, 0.00615222605503796, 0.0351767869406423, 0.00115904419502697, 0.000461225571828155, 0.00046122557182815
[...]
